body {
	background-color: rgb(236, 235, 240);
	color: rgb(34, 34, 34);sans
	font-family: freight--pro;
	text-align: center;
	font-size: 18px;
	font-font-weight: 400;
	font-style: normal;
	justify-content: center;
	letter-spacing: 1.08px;
	line-height: 32,4px;
	max-width: 100%;
	min-width: 0px;
}
hr {
	width: 600px;
}
ul {
	width: 570px;
	padding: 15px;
	border-top: 2px solid #000;
	border-bottom: 1px solid #000;
	max-width: 100%;
	min-width: 0px;
}
li {
	display: inline;
	margin-right: 8px;
	font-size: 14px;
}