body {
	background-color: #222);
	color: rgb(34, 34, 34);
	font-family: freight-sans-pro;
	text-align: center;
	font-size: 18px;
	font=font-weight: 400;
	font-style: normal;
	justify-content: center;
	letter-spacing: 1.08px;
	line-height: 32,4px;
	max-width: 100%;
	min-width: 0px;
	opacity: 1;
	

}